body{
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    background-color: rgb(0, 0, 0); 
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.title h1{
    font-size: 50px;
    text-decoration: underline;
    text-transform: uppercase;
    text-underline-offset: 25px;
}

.title h3{
    font-size: larger;
}

h2{
    margin: 20px 0;
    padding: 10px 30px;
    text-transform: uppercase;
    text-align: center;
}

.section{
    display: flex;
    gap: 150px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 60px;
}

ul{
    list-style: square;
    width: 50%;
    min-width: 400px;
}

li{
    margin-bottom: 20px;
    padding-left: 20px;
}

li::marker{
    font-size: 20px;
}

.line{
    margin-left: 40px;
    margin-right: 40px;
    background-color: black;
    height: 3px;
}

.iconList{
    list-style: none;
    padding-left: 0;
    padding-right: 150px;
}

.iconList i{
    margin-right: 20px;
    padding-left: 30px;
}

#sec3{
    padding-left: 0;
    padding-right: 0;
}

.right{
    margin-right: 0;
    margin-left: auto;
    width: 50%;
}

span{
    margin-left: 100px;
}
.bar{
    height: 20px;
    width: 200px;
    border: 1px solid black;
    padding: 0 0;
    margin-left: 100px;
}

.fill{
    height: 100%;
    background-color: black;
    margin: 0 0;
}